@use "$lib/scss/mixins/scr";

@font-face {
  src: url("/fonts/Manrope/Manrope.ttf");
  font-family: "Manrope";
  font-display: swap;
}

@font-face {
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-family: "Poppins";
  font-display: swap;
}

*,
::before,
::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  background: #000;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

:root {
  font-family: "Manrope", sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}